#file-input {
    margin-bottom: 10px;
  }
  
  #file-type-select {
    margin-bottom: 10px;
  }
  
  #next-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #next-button:hover {
    background-color: #0062cc;
  }
  
  .alert {
    background-color: #ffc107;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
  }
  